body {
    background-color: #202d3d;
    color: white;
    font-family: 'Hind Guntur', sans-serif;
    text-align: center;
}

#title {
    font-family: 'Balsamiq Sans', cursive;
}
  
.blueText {
    color: #85c4ff;
}

.link:hover {
    cursor: pointer;
    color: #d3d3d3;
}

.products, #customPlan {
    border: 2px solid #76afe4;
    padding: 5%;
    margin: 5px;
    background-color: #363636;
}

#productsMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buyNow {
    border: 1px solid black;
    background-color: white;
    font-family: 'Hind Guntur', sans-serif;
    border-radius: 5px;
    font-size: 18px;
    position: relative;
    bottom: 20px;
}

.buyNow:hover {
    cursor: pointer;
}

.productText {
    font-size: 25px;
}

#seeOurProducts {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-top: 5%;

    display: flex;
    flex-direction: row;
    text-align: left;
}

.purchaseInputs {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 15px;
}

#info {
    margin-right: 3%;
}

#rightArrow {
    height:10px;
}

#features {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.featuresDiv {
    margin-right: 12%;
    margin-left: 12%;
    width: 50%;
}

.featuresImg {
    height: 50px;
}

.featuresDiv > h2 {
    font-size: 20px;
}

#topbar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #2c3442;
    border-bottom: 2px solid #222833;

    display: flex;
    flex-direction: row;

    z-index: 2;
}

#topbar > h1 {
    margin-right: 10%;
}

#topbarTitle {
    margin-left: 2%;
    text-align: left;
}

#topbarLinks {
    position: absolute;
    right: 0px;
}

#whatWeDo > div {
    display: flex;
    flex-direction: row;
}

#productsTitle, #purchaseTitle {
    margin-top: 5%;
}

#customPlan {
    margin-left: 17%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-flow: wrap;
}

#customPlan > button {
    height: 5%;
}

#purchsaeFormContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#purchaseForm {
    margin-right: 15%;
}

#customEditor {
    border: 1px solid #85c4ff;
    padding: 5%;
}
