body {
    background-color: #3d3d3d;
    color: white;
    font-family: 'Hind Guntur', sans-serif;
    text-align: center;
  }
  
.blueText {
    color: #85c4ff;
}

.link:hover {
    cursor: pointer;
    color: #d3d3d3;
}

.products {
    border: 2px solid #76afe4;
    padding: 5%;
    margin: 5px;
    background-color: #363636;
}

#productsMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buyNow {
    border: 1px solid black;
    background-color: white;
    font-family: 'Hind Guntur', sans-serif;
    border-radius: 5px;
    font-size: 18px;
    position: relative;
    bottom: 20px;
}

.buyNow:hover {
    cursor: pointer;
}

.productText {
    font-size: 25px;
}

#seeOurProducts {
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.purchaseInputs {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 15px;
}

#info {
    margin-right: 3%;
}
