body {
    background-color: #3d3d3d;
    color: white;
    font-family: 'Hind Guntur', sans-serif;
    text-align: center;
  }
  
.blueText {
    color: #85c4ff;
}

.link:hover {
    cursor: pointer;
    color: #d3d3d3;
}

.products {
    border: 2px, solid, #76afe4;
    padding: 5%;
}

#productsMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
